body{
    
    background-image: url("images/aperture-vintage-Z6EpCdMcoUU-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(240, 245, 239);
}

h1{
    text-align: center;
}