body {
  background-image: url("images/aperture-vintage-Z6EpCdMcoUU-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1.container {
    text-align: center;
    color: #e40b0b;
  }
  
  

  
  .col-mid-3 {
    flex: 20%;
   
    padding: 1px;
    margin-left: 50px;
    margin-right: 5px;
    
  
   
  }
  

  .card-img-top {
    width: 100%;
    padding-bottom: 1px;
  }
  
  .card-body {
    padding: 20px;
    padding-bottom: 30px;
    margin-bottom: 10px;
   
    
  }
  
  .card-title {
    font-size: 25px;
    margin-bottom: 10px;
    color: black;
  }
  
  .card-text {
    font-style: italic;
    color: #b12727;
  }
  
  .btn {
    display: inline-block;
    padding: 8px 16px;
    margin-top: 10px;
    
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  

  .btn-warning {
    background-color: #ee6808;
  }
  
